.header {
	&__inner {
		@include flex-sb;

		padding-block: 30px
	}

	&__logo {
		padding-bottom: 35px
	}
	
	&__menu {
		&-list {
			@include flex-center;

			column-gap: 70px;
		}

		&-link {
			font-size: 18px;
			font-weight: 400;
		}
	}

	&__actions {
		@include flex-center;

		column-gap: 20px;
	}

	&__actions-link:nth-child(3) {
		margin-left: 80px;
	} 
}