:root {
	--color-light: #fff;
	--color-dark: #151618;
	--color-accent: #f7f2ea;

	--container-width: 1200px;
	--container-padding-x: 20px;

	--font-family-base: "OpenSans", sans-serif;
	--font-family-title: "Cormorant", sans-serif;

	--font-family-test: "Ephesis", sans-serif;

	--border: 1px solid var(--color-dark);

	--button-height: 50px;

	--transition-duration: .4s;
}