<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="theme-color" content="#111111">
	<title>Tealuxe</title>
	<link rel="stylesheet" href="/css/main.css">
	<script src="/js/main.js" type="module"></script>
	<!-- <link rel="preload" href="/fonts/Cormorant-Regular.woff2" as="font" type="font/woff2" crossorigin> -->
	<!-- <link type="image/x-icon" href="/favicon/favicon_1.ico" rel="shortcut icon">
	<link type="Image/x-icon" href="/favicon/favicon_1.ico" rel="icon"> -->
</head>
